<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_robot_car">


    <xacro:include filename="$(find rviz_tutorial)/urdf/simple_robot_car.xacro"/>
    <xacro:include filename="$(find rviz_tutorial)/urdf/lidar.xacro"/>
    <xacro:include filename="$(find rviz_tutorial)/urdf/camera.xacro"/>
    

    
</robot>   